* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#page {
  background: url(/images/back1.jpg) no-repeat;
  width: 100vw;
  height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

.login-box {
  width: 280px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.login-box h1 {
  float: left;
  font-size: 2rem;
  border-bottom: 6px solid #19eff0;
  margin-bottom: 50px;
  padding: 13px 0;
}

.textbox {
  width: 100%;
  overflow: hidden;
  font-size: 1.5rem;
  padding: 8px 0;
  margin: 8px 0;
  border-bottom: 1px solid #19eff0;
}

.textbox i {
  width: 26px;
  float: left;
  text-align: center;
}

.textbox input {
  border: none;
  outline: none;
  background: none;
  color: white;
  font-size: 18px;
  float: left;
  width: 80%;
  margin: 0 10px;
}

.btn {
  width: 100%;
  background: none;
  border: 2px solid #19eff0;
  color: white;
  padding: 5px;
  font-size: 18px;
  cursor: pointer;
  margin: 12px 0;
}

.bottom {
  width: 280px;
  height: 5vh;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
.sign {
  width: 100%;
  height: 100%;
  background: none;
  border: 2px solid #19eff0;
  color: white;
  padding: 5px;
  font-size: 18px;
  cursor: pointer;
  margin-top: 30px;
}
